OBJSTOR_ADMIN = "peter.platten@gov.bc.ca"
OBJSTOR_ADMIN_PASS = password-changed

OBJSTOR_MGMT_NAMESPACE = "nrs"
OBJSTOR_MGMT_ENDPOINT = "https://mgmt.objectstore.gov.bc.ca:4443"
OBJSTOR_REPLICATION_GROUP = kam_vdc1-cal_vdc1
S3_HOSTNAME = nrs.objectstore.gov.bc.ca
S3_ENDPOINT = https://nrs.objectstore.gov.bc.ca

BUCKET_PATH_PREFIX = None


ACCESS_KEY = nr-peterdev-dev
SECRET_KEY = password-changed
BUCKET_NAME = peterdevbucket2

PYTHONPATH=.